@font-face {
    font-family: Montserrat; 
    src: url(../fonts/Montserrat-Regular.otf); 
}

@font-face {
    font-family: MontserratB; 
    src: url(../fonts/Montserrat-Bold.otf); 
}

@font-face {
    font-family: KaushanScript; 
    src: url(../fonts/KaushanScript-Regular.otf); 
}

@font-face {
    font-family: Roboto; 
    src: url(../fonts/Roboto.ttf); 
}

@font-face {
    font-family: RobotoI; 
    src: url(../fonts/RobotoItalic.ttf); 
}

body, htnl{
    margin: 0;
}

h3{
    font-family: MontserratB;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}

h3:after{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

h4{
    font-family: KaushanScript;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
}

header{
    width: 100%;
    height: 1000px;
    background-image: url(../img/headerBack.png);
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 1000px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233,130,130,0.8)), to(rgba(238,210,138,0.8)));
    background: linear-gradient(to bottom, rgba(233,130,130,0.8), rgba(238,210,138,0.8));
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.logo{
    color: white;
    font-size: 30px;
    padding: 30px 0;
    width: 583px;
    font-family: MontserratB;
}

.menuContainer div{
    display: inline-block;
}

.menuItems{
    height: 100%;
    padding-top: 40px;
    vertical-align: top;
}

.menu{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
    font-size: 14px;
    font-family: Montserrat;
    height: 100%;
}

.menu li{
    display: inline-block;
    padding-right:48px;
    height: 100%;
}

.menu li:last-child{
    padding-right: 0;
}

.menu li a{
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.menu li a:hover{
    color: #fce38a;
}

.menu li a:after{
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #fce38a;
    margin-top: 10px;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.menu li a:hover:after, .menu li a:focus:after{
    width: 100%;
}

.headerInfo{
    margin-top: 110px;
    width: 100%;
    text-align: center;
    color: white;
}

.headerInfo h2{
    font-family: KaushanScript;
    font-size: 72px;
    margin: 0;
}

.headerInfo h1{
    font-family: MontserratB;
    font-size: 150px;
    text-transform: uppercase;
    margin-top: 30px;
    line-height: 140px;
    margin-bottom: 50px;
}

.headerInfo h1:after{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-top: 60px;
}

.headerBut{
    width: 150px;
    color: #fff;
    border: 3px solid #fff;
    height: 35px;
    font-family: MontserratB;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 35px;
    cursor: pointer;
    margin: auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.headerBut:hover{
    background-color: rgba(255,255,255,0.3);
}

.about{
    width: 100%;
    height: 750px;
    position: relative;
}

.info{
    text-align: center;
    color: #333333;
    padding-top: 90px;
}

.infoText{
    width: 950px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: #999999;
    font-size: 15px;
    font-family: Roboto;
    line-height: 25px;
}

.aboutGallery{
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.photoContainer{
    background-color: #95e1d3;
    display: inline-block;
    position: relative;
    width: 380px;
    height: 250px;
    margin-right: 26px;
    cursor: pointer;
}

.photoContainer:hover >.photo{
    margin-left: -10px;
    margin-top: -10px;
}

.photoContainer:last-child{
    margin-right: 0;
}

.photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.photo>img{
    width: 100%;
    position: absolute;
}

.photo:hover >.photoOverlay{
    opacity: 1;
}

.photoOverlay{
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233,130,130,0.8)), to(rgba(238,210,138,0.8)));
    background: linear-gradient(to bottom, rgba(233,130,130,0.8), rgba(238,210,138,0.8));
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: MontserratB;
    font-size: 18px;
    padding-top: 100px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.stat{
    width: 100%;
    background-color: #95e1d3;
}

.statItem{
    width: 234px;
    display: inline-block;
    height: 195px;
    border-right: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
    padding-top: 75px;
}

.statItem:last-child{
    border: none;
}

.count{
    font-size: 72px;
    font-family: MontserratB;
}

.statText{
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
}

.services{
    height: 650px;
}

.servicesFeatures{
    width: 100%;
    margin-top: 15px;
}

.servicesItem{
    width: 395px;
    padding-top: 50px;
    display: inline-block;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    margin-right: -2px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.servicesItem:nth-child(4), .servicesItem:nth-child(5), .servicesItem:nth-child(6){
    border: 0;
}

.servicesItem:hover >.servicesPhoto{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.servicesItem:hover{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.servicesItem div{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.servicesPhoto{
    width: 60px;
    margin-left: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.servicesText{
    width: 270px;
}

.servicesText span{
    text-transform: uppercase;
    font-family: Montserrat;
    color: #333333;
    font-size: 14px;
}

.servicesText p{
    color: #b6b6b6;
    font-family: Roboto;
    font-size: 15px;
}

.design{
    height: 850px;
    background-image: url(../img/designBack.png);
    background-size: cover;
    position: relative;
}

.designOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
}

.designPhoto{
    padding-top: 43px;
    text-align: center;
    position: relative;
}

.iphone{
    position: absolute;
    margin-left: 720px;
    margin-top: 200px;
}

.work{
    height: 900px;
}

.weDo{
    margin-top: 95px;
}

.weDoPhoto img{
    width: 570px;
    margin-right: 25px;
}

.weDo>div{
    display: inline-block;
    vertical-align: top;
}

.widgetCont{
    margin-bottom: 10px;
    width: 600px;
    height: 62px;
    overflow-y: hidden;
}

.widget{
    border: 1px solid #e5e5e5;
    height: 60px;
    font-size: 14px;
    font-family: Montserrat;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.widgetText{
    width: 500px;    
}

.widgetInfo{
    height: 130px;
    border: 1px solid #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0;
    overflow-y: scroll;
    word-wrap: break-word;
    font-size: 15px;
    font-family: RobotoI;
    color: #afafaf;
}

.widgetInfo::-webkit-scrollbar{
    width:5px;
}

.widgetInfo::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #95e1d3;
}

.widgetInfo::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #95e1d3;
}

.widgetInfo::-webkit-scrollbar-track{
    border-width:0;
}

.widgetInfo::-webkit-scrollbar-track:hover{
    border-left: solid 1px #f5f5f5;
    background-color: #f5f5f5;
}

.arrow{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}